<!doctype html>
<title>{% block title %}{% endblock %} - yabc Development Server</title>
<script type="text/javascript" src="{{ url_for('static', filename='underscore.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='backbone.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Development yabc server</h1>
  <ul>
      <li>blah
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
